@using WoodGroveGroceriesWebApplication.Managers
@{
    ViewData["Title"] = "Sign in";
    var industry = (IIndustry) ViewData["Industry"];
}

<head>
    <style type="text/css">
        .card-body { height: 250px; }

        .card-body .card-title { height: 28px; }

        .card-body .card-text { height: 63px; }

        .card-body button { height: 40px; }
         
    </style>
</head>

<main class="">
    <form asp-controller="Account" asp-action="LogInFor" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label>Language</label>
                    <div class="btn-group" data-toggle="buttons">

                        @if (ViewBag.UILocale == "en" || string.IsNullOrEmpty(ViewBag.UILocale))
                        {
                            <label class="active btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="en" autocomplete="off" checked> English
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="en" autocomplete="off"> English
                            </label>
                        }

                        @if (ViewBag.UILocale == "es")
                        {
                            <label class="active btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="es" autocomplete="off" checked> español
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="es" autocomplete="off"> español
                            </label>
                        }

                        @if (ViewBag.UILocale == "fr")
                        {
                            <label class="active btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="fr" autocomplete="off" checked> français
                            </label>
                        }
                        else
                        {
                            <label class="btn btn-default btn-rounded btn-sm form-check-label waves-effect waves-light">
                                <input name="UILocale" class="form-check-input" type="radio" value="fr" autocomplete="off"> français
                            </label>
                        }

                    </div>
                </div>
            </div>
            <section class="text-center pt-5">
                <div class="fadeIn row wow" style="animation-name: fadeIn; visibility: visible;">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="overlay view">
                                <img alt="" class="card-img-top" src="@industry.LoginPageIndividualCustomerImage">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@industry.LoginPageIndividualCustomerTitle</h4>
                                <p class="card-text">@industry.LoginPageIndividualCustomerSubText</p>
                                <button name="command" class="btn btn-wg-green btn-md btn-rounded waves-effect waves-light" type="submit" value="customerSignIn">Sign in with your @industry.LoginPageIndividualCustomerAccountName</button>
                                <button name="command" class="btn btn-link btn-md" type="submit" value="customerSignUp">Sign up with your @industry.LoginPageIndividualCustomerAccountName</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="overlay view">
                                <img alt="" class="card-img-top" src="@industry.LoginPageBusinessCustomerImage">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@industry.LoginPageBusinessCustomerTitle</h4>
                                <p class="card-text">@industry.LoginPageBusinessCustomerSubText</p>
                                <button name="command" class="btn btn-wg-green btn-md btn-rounded waves-effect waves-light" type="submit" value="businessSignIn">Sign in with your @industry.LoginPageBusinessCustomerAccountName</button>
                                <button name="command" class="btn btn-link btn-md" type="submit" value="businessSignUp">Sign up with your @industry.LoginPageBusinessCustomerAccountName</button>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card">
                            <div class="overlay view">
                                <img alt="" class="card-img-top" src="@industry.LoginPagePartnerImage">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@industry.LoginPagePartnerTitle</h4>
                                <p class="card-text">@industry.LoginPagePartnerSubText</p>
                                <button name="command" class="btn btn-wg-green btn-md btn-rounded waves-effect waves-light" type="submit" value="partnerSignIn">Sign in with your @industry.LoginPagePartnerAccountName</button>
                                <button name="command" class="btn btn-link btn-md" type="submit" value="partnerSignUp">Request your @industry.LoginPagePartnerAccountName</button>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <section class="text-center">
                <div class="fadeIn row wow" style="animation-name: fadeIn; visibility: visible;">
                    <div class="col-lg-4 col-md-6 mb-4">
                        @*<button name="command" class="btn btn-link btn-md" type="submit" value="@Constants.AuthenticationSchemes.CustomerAuth:@Constants.Policies.SignUpOrSignInWithPersonalAccountUsingRewriteRules">Sign in with your personal account<br />using an A/B policy (preview)</button>*@
                    </div>
                </div>
            </section>
        </div>
    </form>
</main>